<nav id="pagination">
    <ul class="pagination">
        <li>
            <a href="#/" aria-label="First"  ng-click="loadPage(1)">
                <span aria-hidden="true">First</span>
            </a>
        </li>

        <li ng-class="{'disabled': adsParams.startPage - 1 == 0}">
            <a href="#/" aria-label="Previous"  ng-click="loadPage(adsParams.startPage-1)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li ng-repeat="i in pagesArray" ng-class="{'active': i == adsParams.startPage}" >
            <a href="#/" ng-click="loadPage(i)">{{i}}</a>
        </li>

        <li ng-class="{'disabled': adsParams.startPage + 1 == allPages + 1 }">
            <a href="#/" aria-label="Next" ng-click="loadPage(adsParams.startPage+1)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

        <li>
            <a href="#/" aria-label="Last"  ng-click="loadPage(allPages)">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul>
</nav>
<div id="ad" ng-repeat="ad in ads.ads" class="box">
    <div class="row">
            <h2 class="col-xs-4">{{ad.title}}</h2>
            <div class="col-xs-8 text-right">{{ad.date | date: "d-MMM-yyyy"}}</div>
    </div>
    <div class="row">
            <div ng-if="ad.imageDataUrl != null" class="col-xs-3">
                        <a class="thumbnail">
                            <img ng-src="{{ad.imageDataUrl}}"  class="ad-image">
                        </a>
            </div>
        <div class="col-xs-9">
            <div class="adcontent">{{ad.text}}</div>
        </div>
        <div class="col-xs-9">
            <strong>Name : </strong>{{ad.ownerName}}
        </div>
        <div class="col-xs-9">
            <strong>Email : </strong>{{ad.ownerEmail}}
        </div>
        <div class="col-xs-9">
            <strong>Tel : </strong>{{ad.ownerPhone}}
        </div>
    </div>


</div>
<div ng-if="ads.ads.length == 0">
    No ads found
</div>

