<div class="box">
    <h2>Register</h2>

    <table class="table table-user-information" >
        <tbody>
        <tr>
            <td>  <label for="username">Username:</label></td>
            <td>
                <div class="input-group  input-group-sm">
                    <input type="text" id="username" ng-model="userData.username" required />
                </div>
            </td>
        </tr>
        <tr>
            <td> <label for="password">Password:</label></td>
            <td>
                <div class="input-group  input-group-sm">
                    <input type="password" id="password" ng-model="userData.password" required />
                </div>

            </td>
        </tr>
        <tr>
            <td> <label for="rpassword">Repeat password:</label></td>
            <td>
                <div class="input-group  input-group-sm">
                    <input type="password" id="rpassword" ng-model="userData.confirmpassword" required />
                </div>
            </td>
        </tr>
        <tr>
            <td> <label for="name">Name:</label></td>
            <td>
                <div class="input-group  input-group-sm">
                    <input type="text" id="name" ng-model="userData.name" required />
                </div>
            </td>
        </tr>
        <tr>
            <td> <label for="email">E-mail:</label></td>
            <td>
                <div class="input-group  input-group-sm">
                    <input type="text" id="email" ng-model="userData.email" required />
                </div>
            </td>
        </tr>
        <tr>
            <td>  <label for="phone">Phone:</label></td>
            <td>
                <div class="input-group  input-group-sm">
                    <input type="text" id="phone" ng-model="userData.phone" />
                </div>
            </td>
        </tr>
        <tr>
            <td>  <label for="town">Town:</label></td>
            <td>
                <div class="input-group  input-group-sm">
                    <select id="town" ng-model="userData.townId">
                        <option value="null">(None)</option>
                        <option ng-repeat="town in towns"
                                value="{{town.id}}">{{town.name}}</option>
                    </select>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <p>
        <a ng-click="register(userData)" class="button">Register</a>
        <a href="#/login" class="link">Login</a>
    <p>
</div>