<nav class="navbar navbar-default navbar-static-top">
<div class="container-fluid" >
    <p ng-if="authService.isLoggedIn()" class="navbar-text">
        <strong>{{authService.getCurrentUser().username}}</strong>
    </p>
    <ul class="nav navbar-nav navbar-right">
        <li ng-if="authService.isAnonymous()"><a href="#/login">Login</a></li>
        <li ng-if="authService.isAnonymous()"><a href="#/register">Register</a></li>
        <li ng-if="authService.isLoggedIn()"><a>Logout</a></li>
    </ul>

</div>
</nav>
<!-- 

TODO: 

1) Implement logic to show different app header for:
    - anonymous site visitors
    - logged in users
    - logged in administrators

2) Implement logic to show different title for different screens
    
-->
