<nav class="navbar navbar-default navbar-static-top">
<div class="container-fluid" >
    <p ng-if="authService.isLoggedIn()" class="navbar-text">
        <strong>{{authService.getCurrentUser().username}}</strong>
    </p>
    <ul class="nav navbar-nav navbar-right">
        <li ng-if="authService.isAnonymous()"><a href="#/login">Login</a></li>
        <li ng-if="authService.isAnonymous()"><a href="#/register">Register</a></li>
        <li ng-if="authService.isAdmin()"><a href="#/login">Admin</a></li>
        <li ng-if="authService.isLoggedIn()" ng-click="logout()"><a>Logout</a></li>
    </ul>

</div>
</nav>
