<div ng-if="authService.isAnonymous()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/register">Register</a></li>
    </ul>
</div>

<div ng-if="authService.isNormalUser()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/user/ads">My Ads</a></li>
        <li><a href="#/user/ads/publish">Publish new Ad</a></li>
        <li><a href="#/user/profile">Edit profile</a></li>
    </ul>
</div>

<div ng-if="authService.isAdmin()" class="box">
    <h2>Admin menu</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/user/ads">My Ads</a></li>
        <li><a href="#/user/ads/publish">User list</a></li>
        <li><a href="#/user/profile">Edit profile</a></li>
    </ul>
</div>
